<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<% unless @user.ratings.empty? %>
  <p>
    <%= pluralize(@user.ratings.length, 'rating') %>,
    average <%= @user.average_rating %> points
    <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <%= link_to 'delete', rating, method: :delete %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% unless @user.memberships.empty? %>
  <p>Clubs:
    <ul>
      <% for m in @user.memberships %>
        <li>
          <%= link_to m.beer_club.to_s, m.beer_club %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
