<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<% unless @user.ratings.empty? %>
  <p>
    <%= pluralize(@user.ratings.length, 'rating') %>,
    average <%= @user.average_rating %> points
    <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <% if currently_signed_in? @user %>
            <%= link_to 'delete', rating, method: :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% unless @user.memberships.empty? %>
  <p>Clubs:
    <ul>
      <% for m in @user.memberships %>
        <li>
          <%= link_to m.beer_club.to_s, m.beer_club %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% unless @user.favorite_beer.nil? %>
  <p>Favorite beer:
  <%= @user.favorite_beer %>
  </p>
<% end %>

<% unless @user.favorite_style.nil? %>
  <p>Favorite style:
  <%= @user.favorite_style %>
  </p>
<% end %>

<% unless @user.favorite_brewery.nil? %>
  <p>Favorite brewery:
  <%= @user.favorite_brewery.name %>
  </p>
<% end %>

<% if currently_signed_in? @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
