<p id="notice"><%= notice %></p>

<p>
  <h2><%= @style.name %></h2>
</p>

<p>
  <%= @style.description %>
</p>

<p>
  <strong>beers</strong>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= link_to beer, beer %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_style_path(@style), class: "btn" if signed_in? %>
<%= link_to 'Destroy', @style, method: :delete,
            data: { confirm: 'Are tou sure?' }, class: "btn btn-danger" if signed_in? and current_user.admin %>
