<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
  <% unless @brewery.active %>
    <span class="label">retired</span>
  <% end %>
</h2>

<p>
  <b>Established year</b>
  <%= @brewery.year %>
</p>

<p>
  number of beers <%= @brewery.beers.count %> <br/>
  <ul>
    <% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
    <% end %>
  </ul>
</p>

<% unless @brewery.ratings.empty? %>
  <p>
    <%= pluralize @brewery.ratings.length, 'rating' %>, average:
    <%= round(@brewery.average_rating) %>
  </p>
<% end %>


<%= edit_and_destroy_buttons(@brewery) %>
