<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p>
  <b>Established year</b>
  <%= @brewery.year %>
</p>

<p>
  number of beers <%= @brewery.beers.count %> <br/>
  <ul>
    <% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
    <% end %>
  </ul>
</p>

<% unless @brewery.ratings.empty? %>
  <p>
    <%= pluralize @brewery.ratings.length, 'rating' %>, average:
    <%= @brewery.average_rating %>
  </p>
<% end %>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
