<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
  <% unless @brewery.active %>
    <span class="label">retired</span>
  <% end %>
</h2>

<p>
  <b>Established year</b>
  <%= @brewery.year %>
</p>

<p>
  number of beers <%= @brewery.beers.count %> <br/>
  <ul>
    <% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
    <% end %>
  </ul>
</p>

<% unless @brewery.ratings.empty? %>
  <p>
    <%= pluralize @brewery.ratings.length, 'rating' %>, average:
    <%= @brewery.average_rating %>
  </p>
<% end %>


<% if signed_in? %>
  <%= link_to 'Edit', edit_brewery_path(@brewery), class: "btn" %>
  <% if current_user.admin %>
    <%= link_to 'Destroy', @brewery, method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
<% end %>
