<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p>
  <b>established year:</b>
  <%= @brewery.year %>
</p>

<p>
  <b><%= @brewery.beers.count %> beers</b>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
