<p id="notice"><%= notice %></p>

<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>
  <table>
    <thead>
      <% for field in Place.rendered_fields %>
        <td> <%= field %>
      <% end %>
    </thead>
    <% for place in @places %>
      <tr>
        <% for field in Place.rendered_fields %>
          <% if field == :name && place.id %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

