<p id="notice"><%= notice %></p>

<p>
  <h2><%= @place.name %></h2>
</p>

<p>
<%= @place.street %>
</p>

<p>
<%= @place.zip %>
</p>

<p>
  <b>Scores:</b>
  <ul>
    <% for field in LocationScore.rendered_fields %>
      <li><%= "#{field.to_s}: #{@score.send(field)}" %></li>
    <% end %>
  </ul>
</p>

<iframe src="<%= @place.blogmap %>" width=500 height=500></iframe>
